<br>
<br>
<br>
<br>
<br>
<h1>Booking Confirmed!</h1>
<br>
<div>
<center><div class="card" style=" background-image: url('<%= cl_image_path(@booking.tree.photo.key) %>'); background-position: center; background-size: cover;"></center>
</div>
<br>
<center><div class="btn-new"><%= link_to 'Book another Treehouse', trees_path %></div></center>










<%# bookings/id %>
