<div class="container tree-new">
  <div class="tree-new-form">
    <h2>Create a new Treehouse</h2>
    <%= render "form", tree: @tree %>
  </div>
  <div class="link-tree-new">
    <%= link_to "Back", trees_path, class: "btn-red" %>
  </div>
</div>
