<br>
<br>
<br>
<br>
<br>
<h1>Booking Confirmed!</h1>
<br>
<div>
<center><div class="card"><%= image_tag("https://res.cloudinary.com/dnorywpdz/image/upload/v1644338910/qing-zhang-qinger_zhang-Vpo7XGfd4tE-unsplash_zcj4y3.jpg") %></center>
</div>
<br>
<center><div class="btn-new"><%= link_to 'Book another Treehouse', trees_path %></div></center>
