
<div class = "flexbox">
  <div class="banner-new">
    <div class = "content flex-column">
      <h1>Air Tree and Tree</h1>
      <div class="btn-red"><%= link_to 'Browse all Treehouses', trees_path %></div>
    </div>
  </div>
</div>
